.container {
  background-image: url('img/background.jpg');
  width: 1050px;
  height: 1372px;
  margin: 0 auto;
}

header {
  margin: 0;
}

.top-icon, .top-logo-text {
  display: inline-block;
  vertical-align: middle;
}

.top-icon {
  margin: 44px 0 0 341px;
}

.top-logo-text {
  margin: 54px 0px 0px 12px;
}

